@page "{id:int}"
@model part4.Pages.OrderModel
@{
    ViewData["Title"] = "Place Your Order";
    
}

<div class="bg">
    <h1>@Model.Product.Name</h1>
    <div class="row mainRow">
        <div class="col-sm-8" id="productCard">
            <div class="card card-cascade wider shadow p-3 mb-5 ">
                <div class="view view-cascade overlay text-center">
                    <img class="card-img-top" src="~/images/products/@Model.Product.ImageName" alt="Image of @Model.Product.Name"> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="desc">
                    <div class="row subRow">
                        <!--Radio button selections for the mini model-->
                        @if (Model.Product.ProductID == 1)
                        {
                            <form method="post">
                                <div class="col">
                                    <h4>CPU</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[0].UpgradePrice id="@Model.Upgrades[0].UpgradeName" name="CPURadio" checked="checked" />@Model.Upgrades[0].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[1].UpgradePrice id=@Model.Upgrades[1].UpgradeName name="CPURadio" />@Model.Upgrades[1].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[2].UpgradePrice id=@Model.Upgrades[2].UpgradeName name="CPURadio" />@Model.Upgrades[2].UpgradeName<br />
                                </div>

                                <div class="col">
                                    <h4>Memory</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[3].UpgradePrice id=@Model.Upgrades[3].UpgradeName name="MemoryRadio" checked="checked" />@Model.Upgrades[3].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[4].UpgradePrice id=@Model.Upgrades[4].UpgradeName name="MemoryRadio" />@Model.Upgrades[4].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Storage</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[5].UpgradePrice id=@Model.Upgrades[5].UpgradeName name="StorageRadio" />@Model.Upgrades[5].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[6].UpgradePrice id=@Model.Upgrades[6].UpgradeName name="StorageRadio" checked="checked" />@Model.Upgrades[6].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[7].UpgradePrice id=@Model.Upgrades[7].UpgradeName name="StorageRadio" />@Model.Upgrades[7].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[8].UpgradePrice id=@Model.Upgrades[8].UpgradeName name="StorageRadio" />@Model.Upgrades[8].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Video</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[9].UpgradePrice id=@Model.Upgrades[9].UpgradeName name="VideoRadio" checked="checked" />@Model.Upgrades[9].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Sound</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[10].UpgradePrice id=@Model.Upgrades[10].UpgradeName name="SoundRadio" checked="checked" />@Model.Upgrades[10].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>OS</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[11].UpgradePrice id=@Model.Upgrades[11].UpgradeName name="OSRadio" checked="checked" />@Model.Upgrades[11].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[12].UpgradePrice id=@Model.Upgrades[12].UpgradeName name="OSRadio" />@Model.Upgrades[12].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[13].UpgradePrice id=@Model.Upgrades[13].UpgradeName name="OSRadio" />@Model.Upgrades[13].UpgradeName<br />
                                </div>
                            </form>

                        }
                        //Radio button selections for the business model
                        else if (Model.Product.ProductID == 2)
                        {
                            <form method="post">
                                <div class="col">
                                    <h4>CPU</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[14].UpgradePrice id=@Model.Upgrades[14].UpgradeName name="CPURadio" checked="checked" />@Model.Upgrades[14].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[15].UpgradePrice id=@Model.Upgrades[15].UpgradeName name="CPURadio" />@Model.Upgrades[15].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[16].UpgradePrice id=@Model.Upgrades[16].UpgradeName name="CPURadio" />@Model.Upgrades[16].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[17].UpgradePrice id=@Model.Upgrades[17].UpgradeName name="CPURadio" />@Model.Upgrades[17].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[18].UpgradePrice id=@Model.Upgrades[18].UpgradeName name="CPURadio" />@Model.Upgrades[18].UpgradeName<br />
                                </div>

                                <div class="col">
                                    <h4>Memory</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[19].UpgradePrice id=@Model.Upgrades[19].UpgradeName name="MemoryRadio" checked="checked" />@Model.Upgrades[19].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[20].UpgradePrice id=@Model.Upgrades[20].UpgradeName name="MemoryRadio" />@Model.Upgrades[20].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[21].UpgradePrice id=@Model.Upgrades[21].UpgradeName name="MemoryRadio" />@Model.Upgrades[21].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Storage</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[22].UpgradePrice id=@Model.Upgrades[22].UpgradeName name="StorageRadio" checked="checked" />@Model.Upgrades[22].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[23].UpgradePrice id=@Model.Upgrades[23].UpgradeName name="StorageRadio" />@Model.Upgrades[23].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[24].UpgradePrice id=@Model.Upgrades[24].UpgradeName name="StorageRadio" />@Model.Upgrades[24].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[25].UpgradePrice id=@Model.Upgrades[25].UpgradeName name="StorageRadio" />@Model.Upgrades[25].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Video</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[26].UpgradePrice id=@Model.Upgrades[26].UpgradeName name="VideoRadio" checked="checked" />@Model.Upgrades[26].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[27].UpgradePrice id=@Model.Upgrades[27].UpgradeName name="VideoRadio" />@Model.Upgrades[27].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[28].UpgradePrice id=@Model.Upgrades[28].UpgradeName name="VideoRadio" />@Model.Upgrades[28].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Sound</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[29].UpgradePrice id=@Model.Upgrades[29].UpgradeName name="SoundRadio" checked="checked" />@Model.Upgrades[29].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[30].UpgradePrice id=@Model.Upgrades[30].UpgradeName name="SoundRadio" />@Model.Upgrades[30].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>OS</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[31].UpgradePrice id=@Model.Upgrades[31].UpgradeName name="OSRadio" checked="checked" />@Model.Upgrades[31].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[32].UpgradePrice id=@Model.Upgrades[32].UpgradeName name="OSRadio" />@Model.Upgrades[32].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[33].UpgradePrice id=@Model.Upgrades[33].UpgradeName name="OSRadio" />@Model.Upgrades[33].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[34].UpgradePrice id=@Model.Upgrades[34].UpgradeName name="OSRadio" />@Model.Upgrades[34].UpgradeName<br />
                                </div>
                            </form>
                        }
                        //Radio button selections for the gamer model
                        else
                        {
                            <form method="post">
                                <div class="col">
                                    <h4>CPU</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[35].UpgradePrice id=@Model.Upgrades[35].UpgradeName name="CPURadio" checked="checked" />@Model.Upgrades[35].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[36].UpgradePrice id=@Model.Upgrades[36].UpgradeName name="CPURadio" />@Model.Upgrades[36].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[37].UpgradePrice id=@Model.Upgrades[37].UpgradeName name="CPURadio" />@Model.Upgrades[37].UpgradeName<br />
                                </div>

                                <div class="col">
                                    <h4>Memory</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[38].UpgradePrice id=@Model.Upgrades[38].UpgradeName name="MemoryRadio" checked="checked" />@Model.Upgrades[38].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[39].UpgradePrice id=@Model.Upgrades[39].UpgradeName name="MemoryRadio" />@Model.Upgrades[39].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[40].UpgradePrice id=@Model.Upgrades[40].UpgradeName name="MemoryRadio" />@Model.Upgrades[40].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Storage</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[41].UpgradePrice id=@Model.Upgrades[41].UpgradeName name="StorageRadio" checked="checked" />@Model.Upgrades[41].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[42].UpgradePrice id=@Model.Upgrades[42].UpgradeName name="StorageRadio" />@Model.Upgrades[42].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[43].UpgradePrice id=@Model.Upgrades[43].UpgradeName name="StorageRadio" />@Model.Upgrades[43].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Video</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[44].UpgradePrice id=@Model.Upgrades[44].UpgradeName name="VideoRadio" checked="checked" />@Model.Upgrades[44].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[45].UpgradePrice id=@Model.Upgrades[45].UpgradeName name="VideoRadio" />@Model.Upgrades[45].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[46].UpgradePrice id=@Model.Upgrades[46].UpgradeName name="VideoRadio" />@Model.Upgrades[46].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[47].UpgradePrice id=@Model.Upgrades[47].UpgradeName name="VideoRadio" />@Model.Upgrades[47].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>Sound</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[48].UpgradePrice id=@Model.Upgrades[48].UpgradeName name="SoundRadio" checked="checked" />@Model.Upgrades[48].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[49].UpgradePrice id=@Model.Upgrades[49].UpgradeName name="SoundRadio" />@Model.Upgrades[49].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[50].UpgradePrice id=@Model.Upgrades[50].UpgradeName name="SoundRadio" />@Model.Upgrades[50].UpgradeName<br />
                                </div>
                                <div class="col">
                                    <h4>OS</h4>
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[51].UpgradePrice id=@Model.Upgrades[51].UpgradeName checked="checked" />@Model.Upgrades[51].UpgradeName<br />
                                    <input type="radio" onclick="calculate()" value=@Model.Upgrades[52].UpgradePrice id=@Model.Upgrades[52].UpgradeName />@Model.Upgrades[52].UpgradeName<br />
                                </div>
                            </form>
                        }

                    </div>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


        <div class="col-sm-4">
            <div class="card card-cascade card-ecommerce wider shadow p-3 mb-5 ">
                <div class="card-body card-body-cascade">
                    <!--Display Pricing information-->
                    <div class="card2decs">
                        <p class="heading1"><strong>@Model.Product.Name</strong></p>
                        <p class="total" id="subtotal">Base Price<span class="float-right totalText1">$<span class="totalText2" id="subtotal2">@Model.Product.Price</span></span></p>
                        <p class="total" id="options">Options<span class="float-right totalText1">$<span class="totalText2" id="options2">0</span></span></p>
                        <p class="total" id="total"><strong>Total</strong><span class="float-right totalText1">$<span class="totalText2" id="total2">@Model.Product.Price</span></span></p>

                    </div>
                    <!--purchase button TODO: add summary() back to onlick-->
                    <button onclick="summary()" class="purchaseLink">
                        <div id ="purchaseBtn"class="card-footer text-center"> PURCHASE &#8594; </div>
                    </button>
                </div>
            </div>
        </div>

        <!--Order SUmmary-->
        <div class="col-sm-8" id="productSummary" style="display:none;">
            <div class="card card-cascade card-ecommerce wider shadow p-3 mb-5 ">
                <div class="card2decs">
                    <h3>Order Summary</h3>

                    <div class="row">
                        <div class="col-md-4">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Order.UserID" class="control-label"></label>
                                    <input asp-for="Order.UserID" class="form-control" value="@Model.UserID" id="userid" readonly="readonly" />
                                    <span asp-validation-for="Order.UserID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Order.ProductID" class="control-label"></label>
                                    <input asp-for="Order.ProductID" class="form-control" id="productid" readonly="readonly" />
                                    <span asp-validation-for="Order.ProductID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Order.OrderDate" class="control-label"></label>
                                    <input asp-for="Order.OrderDate" class="form-control" id="orderdate" />
                                    <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Order.OrderPrice" class="control-label"></label>
                                    <input asp-for="Order.OrderPrice" class="form-control" readonly="readonly" id="orderprice" />
                                    <span asp-validation-for="Order.OrderPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Order" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 



        <script>
            //Script to calculate and print pricing dynamically based off of radio button selections
                var price = 0;

                function addPrice(element, index, array) {
                    if (element.checked) price += +element.value;
                    return price;
                }

            function calculate() {

                    var rdos = Array.prototype.slice.call(document.getElementsByTagName('input'));
                rdos.forEach(addPrice);
                document.getElementById("options2").innerHTML = price;
                document.getElementById("total2").innerHTML = @Model.Product.Price + price;
                document.getElementById("total2").value = @Model.Product.Price + price;
                    price = 0;
            }
            //Show order summary
               // var name = "";
            function summary() {
              //  var radios = Array.prototype.slice.call(document.getElementsByTagName('input'));
               // radios.forEach(display);
                var id = @Model.Product.ProductID;
                var z = document.getElementById("productid");
                var price = document.getElementById("total2").innerHTML;
                document.getElementById("orderprice").value = price;


               // var b = document.getElementById("userid");
              //  z.setAttribute("type", "text");
                z.value = id;
               // b.value = userid;
              //  z.setAttribute("asp-for", "Model.Order.ProductID");
              //  z.setAttribute("class", "form-control");
              //  z.setAttribute("readonly", "readonly");
             //   document.getElementById("summary").appendChild(z);



               // var a = document.createElement("INPUT");
              //  a.setAttribute("type", "text");
               // a.value = localDateTime;
              //  a.setAttribute("asp-for", "Model.Order.OrderDate");
               // document.getElementById("summary").appendChild(a);*
                var x = document.getElementById("productCard");
                var y = document.getElementById("productSummary");
                var z = document.getElementById("purchaseBtn");

                x.style.display = "none";
                z.style.display = "none";
                y.style.display = "block";

            }
            function display(element, index, array) {
                if (element.checked) {
                    name = element.id;
                    console.log(name);
                    //document.getElementById("summary").insertAdjacentHTML('beforeend', name + "<br />");
                    var x = document.createElement("INPUT");
                    x.setAttribute("type", "text");
                    x.setAttribute("value", name);
                    x.setAttribute("class", "form-control");
                    x.setAttribute("readonly", "readonly");
                    document.getElementById("summary").appendChild(x);
                    //TODO: Make form with selected options and write to database on post
                }
            }

        </script>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
